<section data-ng-controller="DrinksController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Drink</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="drink.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="ingredients">Ingredients</label>
                    <div class="ingredient-item" data-ng-repeat="ingredient in drink.ingredients">
                        <div class="col-sm-2">
                            <div class="controls">
                                <select class="form-control" data-ng-model="ingredient.amount">
                                  <option>0</option>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                  <option>6</option>
                                  <option>7</option>
                                  <option>8</option>
                                  <option>9</option>
                                  <option>10</option>
                                  <option>11</option>
                                  <option>12</option>
                                  <option>13</option>
                                  <option>14</option>
                                  <option>15</option>
                                  <option>16</option>
                                  <option>17</option>
                                  <option>18</option>
                                  <option>19</option>
                                  <option>20</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="controls">
                                <select class="form-control" data-ng-model="ingredient.amountfraction">
                                  <option></option>
                                  <option>⅛</option>
                                  <option>¼</option>
                                  <option>⅓</option>
                                  <option>½</option>
                                  <option>⅔</option>
                                  <option>¾</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="controls">
                                <select class="form-control" data-ng-model="ingredient.unit">
                                  <option></option>
                                  <option>oz</option>
                                  <option>ml</option>
                                  <option>dash</option>
                                  <option>tsp</option>
                                  <option>tbsp</option>
                                  <option>cup</option>
                                  <option>pint</option>
                                  <option>cl</option>
                                  <option>l</option>
                                  <option>drop</option>
                                  <option>pinch</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="controls">
                                <input type="text" data-ng-model="ingredient.name" id="ingredient.name" class="form-control" placeholder="Ingredient">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button class="remove-ingredient-button btn btn-default" type="button" data-ng-click="removeIngredient(drink.ingredients, $index)">Remove</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="add-ingredient-button btn btn-default" type="button" data-ng-click="addIngredient()">Add Ingredient</button>
                </div>

				<div class="form-group">
					<label class="control-label" for="directions">Directions</label>
					<div class="controls">
						<textarea name="directions" data-ng-model="drink.directions" id="directions" class="form-control" cols="30" rows="5" placeholder="Shaken, not stirred."></textarea>
					</div>
				</div>
                <div class="form-group">
                    <label class="control-label" for="credit">Credit</label>
                    <div class="controls">
                        <input type="text" data-ng-model="drink.credit" id="credit" class="form-control" placeholder="Credit">
                    </div>
                </div>

                <div class="form-group">
                        <label class="control-label" for="rating">Rating</label>
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-primary" role="button" ng-model="drink.rating" btn-radio="'😺'"><h1 class="drink-emoji">😺</h1></a>
                            <a class="btn btn-primary" role="button" ng-model="drink.rating" btn-radio="'😸'"><h1 class="drink-emoji">😸</h1></a>
                            <a class="btn btn-primary" role="button" ng-model="drink.rating" btn-radio="'😹'"><h1 class="drink-emoji">😹</h1></a>
                            <a class="btn btn-primary" role="button" ng-model="drink.rating" btn-radio="'😻'"><h1 class="drink-emoji">😻</h1></a>
                            <a class="btn btn-primary" role="button" ng-model="drink.rating" btn-radio="'😼'"><h1 class="drink-emoji">😼</h1></a>
                            <a class="btn btn-primary" role="button" ng-model="drink.rating" btn-radio="'🙀'"><h1 class="drink-emoji">🙀</h1></a>
                            <a class="btn btn-primary" role="button" ng-model="drink.rating" btn-radio="'😿'"><h1 class="drink-emoji">😿</h1></a>
                        </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
