<section data-ng-controller="DrinksController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="drink.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == drink.user._id))">
		<a class="btn btn-primary" href="/#!/drinks/{{drink._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

	<ul data-ng-repeat="ingredient in drink.ingredients">
		<li class="ingredient-li"><span data-ng-bind="ingredient.amount"></span> <span data-ng-bind="ingredient.amountfraction"></span> <span data-ng-bind="ingredient.unit"></span> <span data-ng-bind="ingredient.name"></span></li>
	</ul>
	<p class="" data-ng-bind="drink.directions"></p>
	<p class="" data-ng-bind="drink.credit"></p>
</section>
