$brand-primary: #967ADC;

@import "../public/lib/bootstrap-sass-official/assets/stylesheets/bootstrap";

.ng-valid.ng-dirty {
    border-color: darken($btn-primary-bg, 5%) !important;
}

.ingredient-item > .col-sm-2, .ingredient-item > .col-sm-4 {
    margin: 5px 0px 5px;
}

.ingredient-item > .col-xs-2, .ingredient-item > .col-xs-4 {
    margin: 5px 0px 5px;
}

.remove-ingredient-button {
    width: 100%;
}

.drink-name {
    display: inline-block;
    h1 {
        margin-top: 0px;
    }
}

.drink-admin {
    @extend .pull-right;
}

.drink-image {
    img {
        width: 100%;
    }
}

.drink-image-container {
    position: relative;
    .drink-image-stacked {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
    }
}

.drink-rating {
    padding-top: 6px;
    padding-bottom: 6px;
}

.drink-emoji {
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal-row {
    width: 100%;
}
